/* From uiverse.io */
button.b1 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button.b1:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button.b1:active {
  transform: translateY(-1px);
}
button.b2 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button.b2:hover {
  background-color: #d85757;
  box-shadow: 0px 15px 20px rgba(255, 2, 2, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button.b2:active {
  transform: translateY(-1px);
}

