<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>
<body>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/abel.jpg" />
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Music for the soul</h1>
              <p>
                Without a doubt, The Weeknd's music has become my best company,
                the best singer without a doubt.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www.fnac.es/The-Weeknd/ia461611/biografia"
                  target="_blank"
                  >More About The Weeknd</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/elon2.jpg" />
          <div class="container">
            <div class="carousel-caption">
              <h1>My greatest admiration in life</h1>
              <p>
                Elon Musk has undoubtedly become my greatest example to follow,
                thanks to him I know what I want to do.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www.britannica.com/biography/Elon-Musk"
                  target="_blank"
                  >More About Elon Musk</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/michele.jpeg" />
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Reference in style and physique</h1>
              <p>
                The discipline and perseverance of Michele Morrone is
                undoubtedly one of my greatest motivations.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www.republicworld.com/personalities/entertainment/michele-morrone.html"
                  >More About Michele Morrone</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" id="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/milagro.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Manos Milagrosas</h5>
              <p class="card-text">My top 1 in movies</p>
              <a href="#" class="btn btn-primary">More About</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/felicidad.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">En Busca De La Felicidad</h5>
              <p class="card-text">My top 2 in movies</p>
              <a href="#" class="btn btn-primary">More About</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/wolf1.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">The Wolf Of Wall Street</h5>
              <p class="card-text">My top 3 in movies</p>
              <a href="#" class="btn btn-primary">More About</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette" id="music">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
            My top 3 in songs.
            <span class="text-muted">It’ll blow your mind.</span>
          </h2>
          <p class="lead">
            Without a doubt a song that will help you in your best and worst
            moments.
          </p>
        </div>
        <div class="col-md-5">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/qFLhGq0060w"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">
            My top 2 in songs.
            <span class="text-muted">See for yourself.</span>
          </h2>
          <p class="lead">
            Without a doubt a song that will help you in your best and worst
            moments.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/Zx4Hjq6KwO0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
            My top 1 in songs.
            <span class="text-muted">Checkmate.</span>
          </h2>
          <p class="lead">
            Without a doubt a song that will help you in your best and worst
            moments.
          </p>
        </div>
        <div class="col-md-5">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/iy4mXZN1Zzk"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!-- FOOTER -->
    <footer class="container">
      <button type="button" class="btn btn-warning float-end">
        <a class="btn" href="#">Back to top</a>
      </button>
      <br />
      <p>&copy; 2020–2022 UTMA, Inc.</p>
    </footer>
  </main>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
